<header>

    <div>
        <div>

        </div>

    </div>

</header>

<div data-testid="dt_platform_switcher" class="platform-switcher">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        class="dc-icon platform-switcher__icon" height="25" width="120">
        <desc>Deriv Trader</desc>
        <use xlink:href="/public/sprites/rebranding.51ef7d53b73b2c9bd88f48739c0e28e4.svg#ic-rebranding-deriv-trader">
        </use>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        class="dc-icon platform-switcher__arrow" height="16" width="16">
        <desc></desc>
        <use xlink:href="/public/sprites/common.b47362b36112ac7cdd39cd7ae11a42d1.svg#ic-chevron-down-bold"></use>
    </svg>
</div>



<div data-testid="dt_platform_switcher" class="platform-switcher"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" class="dc-icon platform-switcher__icon" height="25" width="120">
        <desc>Deriv Trader</desc>
        <use xlink:href="/public/sprites/rebranding.51ef7d53b73b2c9bd88f48739c0e28e4.svg#ic-rebranding-deriv-trader">
        </use>
    </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        class="dc-icon platform-switcher__arrow" height="16" width="16">
        <desc></desc>
        <use xlink:href="/public/sprites/common.b47362b36112ac7cdd39cd7ae11a42d1.svg#ic-chevron-down-bold"></use>
    </svg>
</div>